@font-face {
  font-family: 'Nunito';
  src: url('~/assets/fonts/Nunito-VariableFont_wght.ttf') format('truetype');
}

$primary: #00bbe1;
$primary-dark: #00aed1;

$gray: #f5f5f5;

::selection {
  background-color: $primary;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Nunito', Helvetica, sans-serif;
  font-size: 100%;
  color: #222;
}

body {
  padding: 4% 8%;
  position: relative;
  &.backdrop {
    overflow-y: hidden;

    &:before {
      content: '';
      background-color: rgba(0, 0, 0, 0.55);
      width: 100vw;
      height: 100%;
      top: 0;
      left: 0;
      position: absolute;
      z-index: 1;
    }
  }

  .skeleton {
    position: relative;
    overflow: hidden;
    height: 1em;
    background-color: $gray;
    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transform: translateX(-100%);
      background-image: linear-gradient(
        90deg,
        rgba(#fff, 0) 0,
        rgba(#fff, 0.2) 20%,
        rgba(#fff, 0.5) 60%,
        rgba(#fff, 0)
      );
      animation: shimmer 1.5s infinite;
      content: '';
    }

    @keyframes shimmer {
      100% {
        transform: translateX(100%);
      }
    }
  }

  .slider.active {
    .slick-slider.slick-initialized{
      .slick-next {
        right: clamp(-12%,4vw,-80px);
        display: flex!important;
        align-items: center;
        justify-content: center;
        &::before {
          font-size: clamp(24px, 4vw, 64px);
          opacity: 1;
        }
      }
      .slick-prev {
        left: clamp(-12%,4vw,-80px);
        display: flex!important;
        align-items: center;
        justify-content: center;
        &::before {
          font-size: clamp(24px, 4vw, 64px);
          opacity: 1;
        }
      }

      .slick-dots li button::before {
        color: #fff;
      }
    }
  }
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
  height: auto;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

a {
  text-decoration: none;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s ease-in-out;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}
